/* Define o estilo geral para o corpo do documento */
body {
  background-color: #1f1e1e; /* Define a cor de fundo como cinza escuro */
  color: white; /* Define a cor do texto como branco */
  overflow: hidden; /* Impede a rolagem */
}

/* Centraliza o texto dentro dos elementos h1 */
h1 {
  text-align: center;
}

/* Estilo do contêiner principal para a lista de tarefas */
.todo-wrapper {
  background: #353434; /* Define a cor de fundo como cinza mais claro */
  padding: 2%; /* Adiciona padding ao redor do conteúdo */
  width: fit-content; /* Define a largura para caber no conteúdo */
  margin-left: auto; /* Centraliza horizontalmente */
  margin-right: auto; /* Centraliza horizontalmente */
  margin-top: 3%; /* Adiciona uma margem no topo */
  max-height: 80vh; /* Define uma altura máxima */
  overflow-y: auto; /* Habilita a rolagem vertical */
  box-shadow: 0px 5px 7px rgb(27, 27, 27); /* Adiciona um efeito de sombra */
}

/* Estilo da seção de entrada de tarefas */
.todo-input {
  display: flex; /* Usa flexbox para o layout */
  align-items: center; /* Centraliza os itens verticalmente */
  justify-content: center; /* Centraliza os itens horizontalmente */
  border-bottom: 1px solid rgb(78, 78, 78); /* Adiciona uma borda inferior */
  padding-bottom: 25px; /* Adiciona padding na parte inferior */
  margin-bottom: 25px; /* Adiciona margem na parte inferior */
}

/* Estilo do contêiner de item de entrada individual */
.todo-input-item {
  display: flex; /* Usa flexbox para o layout */
  flex-direction: column; /* Organiza os itens verticalmente */
  align-items: flex-start; /* Alinha os itens ao início horizontalmente */
  margin-right: 25px; /* Adiciona margem à direita */
}

/* Estilo dos rótulos dentro dos contêineres de itens de entrada */
.todo-input-item label {
  font-weight: bold; /* Define o texto em negrito */
  margin-bottom: 10px; /* Adiciona uma margem inferior */
}

/* Estilo dos campos de entrada dentro dos contêineres de itens de entrada */
.todo-input-item input {
  padding: 8px; /* Adiciona padding dentro do campo de entrada */
  border: none; /* Remove a borda padrão */
  width: 250px; /* Define a largura do campo de entrada */
}

/* Altera a borda dos campos de entrada quando em foco */
.todo-input-item input:focus {
  outline: 2px solid rgb(0,230,122); /* Define a cor da borda como verde */
}

/* Estilo para o botão primário */
.primaryBtn {
  background-color: rgb(0,230,122); /* Define a cor de fundo como verde */
  color: white; /* Define a cor do texto como branco */
  border: none; /* Remove a borda padrão */
  border-radius: 0px; /* Define o raio da borda como 0 */
  margin-top: 25px; /* Adiciona margem no topo */
  padding: 10px; /* Adiciona padding dentro do botão */
  width: 60px; /* Define a largura do botão */
  cursor: pointer; /* Altera o cursor para pointer ao passar o mouse */
}

/* Altera a cor de fundo do botão primário ao passar o mouse */
.primaryBtn:hover {
  background-color: rgb(4, 196, 106); /* Escurece a cor verde */
}

/* Estilo para o botão secundário */
.secondaryBtn {
  background-color: rgb(71, 71, 71); /* Define a cor de fundo como cinza */
  color: white; /* Define a cor do texto como branco */
  border: none; /* Remove a borda padrão */
  border-radius: 0px; /* Define o raio da borda como 0 */
  margin-top: 25px; /* Adiciona margem no topo */
  padding: 10px; /* Adiciona padding dentro do botão */
  width: fit-content; /* Define a largura para caber no conteúdo */
  cursor: pointer; /* Altera o cursor para pointer ao passar o mouse */
}

/* Estilo para o botão ativo */
.active {
  background-color: rgb(0,230,122); /* Define a cor de fundo como verde */
}

/* Estilo do contêiner da lista de tarefas */
.todo-list {
  display: flex; /* Usa flexbox para o layout */
  flex-direction: column; /* Organiza os itens verticalmente */
}

/* Estilo para o contêiner da área do botão */
.btn-area {
  margin-bottom: 15px; /* Adiciona margem na parte inferior */
}

/* Estilo para os itens individuais da lista de tarefas */
.todo-list-item {
  background-color: #414040; /* Define a cor de fundo como cinza mais claro */
  display: flex; /* Usa flexbox para o layout */
  justify-content: space-between; /* Distribui os itens horizontalmente */
  align-items: center; /* Centraliza os itens verticalmente */
  padding: 25px; /* Adiciona padding dentro do item */
  padding-bottom: 10px; /* Adiciona menos padding na parte inferior */
  padding-top: 10px; /* Adiciona menos padding na parte superior */
  margin-bottom: 10px; /* Adiciona margem na parte inferior */
  box-shadow: 0px 3px 5px rgb(43, 42, 42); /* Adiciona um efeito de sombra */
}

/* Estilo dos elementos h3 dentro dos itens da lista de tarefas */
.todo-list-item h3 {
  font-size: 25px; /* Define o tamanho da fonte */
  color: rgb(0,230,122); /* Define a cor do texto como verde */
  font-weight: bold; /* Define o texto em negrito */
  margin: 0; /* Remove a margem padrão */
}

/* Estilo dos parágrafos dentro dos itens da lista de tarefas */
.todo-list-item p {
  font-size: 14px; /* Define o tamanho da fonte */
  color: rgb(161, 161, 161); /* Define a cor do texto como cinza claro */
  margin-top: 8px; /* Adiciona margem no topo */
}

/* Estilo para os elementos de ícone */
.icon {
  font-size: 35px; /* Define o tamanho da fonte */
  cursor: pointer; /* Altera o cursor para pointer ao passar o mouse */
}

/* Altera a cor do ícone ao passar o mouse */
.icon:hover {
  color: red; /* Altera a cor para vermelho */
}

/* Estilo para o ícone de verificação */
.check-icon {
  font-size: 25px; /* Define o tamanho da fonte */
  margin-left: 10px; /* Adiciona margem à esquerda */
  color: rgb(0,230,122); /* Define a cor como verde */
  cursor: pointer; /* Altera o cursor para pointer ao passar o mouse */
}

/* Altera a cor do ícone de verificação ao passar o mouse */
.check-icon:hover {
  color: rgb(4, 196, 106); /* Escurece a cor verde */
}

/* Estilo para o contêiner de edição */
.edit__wrapper {
  background-color: #414040; /* Define a cor de fundo como cinza mais claro */
  padding: 10px; /* Adiciona padding dentro do contêiner */
  display: flex; /* Usa flexbox para o layout */
  flex-direction: column; /* Organiza os itens verticalmente */
}

/* Estilo para os elementos input e textarea dentro do contêiner de edição */
.edit__wrapper input, .edit__wrapper textarea {
  border: 1px solid lightgray; /* Adiciona uma borda cinza clara */
  padding: 10px; /* Adiciona padding dentro dos elementos */
  margin: 5px; /* Adiciona margem ao redor dos elementos */
  border-radius: 3px; /* Adiciona cantos arredondados */
}

/* Estilo para o botão primário dentro do contêiner de edição */
.edit__wrapper .primaryBtn {
  margin-left: auto; /* Centraliza o botão horizontalmente */
  margin-right: auto; /* Centraliza o botão horizontalmente */
  padding: 10px; /* Adiciona padding dentro do botão */
  font-size: 16px; /* Define o tamanho da fonte */
  width: fit-content; /* Define a largura para caber no conteúdo */
}